.ex-1-square{
  transition: 2s;
}

.ex-1-square:hover{
  background-color: red;
}

.ex-2-square{
  transition: 2s;
}

.ex-2-square:active{
  width: 100%;
}

.ex-3-square{
  transition: 1s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square{
  transition: 2s;
}

.ex-4-square:hover{
  opacity: 0;
}

.ex-5-square{
  transition: 1s;
}

.ex-5-square:hover{
  transform: scale(2);
}

.ex-5-square:active{
  transform: scale(0.5);
}

.ex-6-img:hover{
  filter: grayscale(100%);
}

.ex-7-img{
  transition: 2s;
}

.ex-7-img:hover{
  filter: sepia(100%);
}

.ex-8-img{
  transition: 2s;
}

.ex-8-img:hover{
  border-radius: 3%;
  filter: sepia(50%) grayscale(60%);
}

.ex-9-img{
  transition: 2s;
}

.ex-9-img:hover{
  border-radius: 3%;
  filter: sepia(50%) grayscale(60%);
  transform: scale(1.5);
}

.ex-10-icon{
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0%{
    transform: rotate(1turn);
  }
}

.ex-11-icon:hover{
  animation: rotateincomplete 1s linear;
}

@keyframes rotateincomplete {
  0%{
    transform: rotate(0);
    }
  90%{
    transform: rotate(280deg);
    }
  100%{
    transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white{
  animation: topwhiteincomplete 3s linear;
}

@keyframes topwhiteincomplete {
  0%{
    left: 10%;
  }

  50%{
    left: calc(100% - 60px);
  }

  100%{
    left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white{
  animation: bottomwhiteincomplete 3s linear;
}

@keyframes bottomwhiteincomplete {
  0%{
    right: 20%;
  }

  50%{
    right: calc(100% - 60px);
  }

  100%{
    right: 20%;
  }
}

.ex-13-button:hover .ex-13-top-white{
  animation: topwhitecomplete 2s linear;
}

@keyframes topwhitecomplete {
  0%{
    top: -3px;
    left: 10%;
  }

  30%{
    top: -3px;
    left: calc(100% - 60px + 3px);
    width: 60px;
    height: 3px;
  }

  31%{
    width: 3px;
    height: 60px;
    left: 100%;
    top: -3px;
  }

  45%{
    top: calc(100% - 60px + 3px);
    left: 100%;
    width: 3px;
    height: 60px;
  }

  46%{
    width: 60px;
    height: 3px;
    top: 100%;
    left: calc(100% - 60px + 3px);
  }

  75%{
    top: 100%;
    left: -3px;
    width: 60px;
    height: 3px;
  }

  76%{
    width: 3px;
    height: 60px;
    left: -3px;
    top: calc(100% - 60px + 3px);
  }

  90%{
    top: -3px;
    left: -3px;
    width: 3px;
    height: 60px;
  }

  91%{
    width: 60px;
    height: 3px;
    top: -3px;
    left: -3px;
  }

  100%{
    top: -3px;
    left: 10%;
  }
}

.ex-13-button:hover .ex-13-bottom-white{
  animation: bottomwhitecomplete 2s linear;
}

@keyframes bottomwhitecomplete {
  0%{
    bottom: -3px;
    right: 10%;
  }

  30%{
    bottom: -3px;
    right: calc(100% - 60px + 3px);
    width: 60px;
    height: 3px;
  }

  31%{
    width: 3px;
    height: 60px;
    right: 100%;
    bottom: -3px;
  }

  45%{
    bottom: calc(100% - 60px + 3px);
    right: 100%;
    width: 3px;
    height: 60px;
  }

  46%{
    width: 60px;
    height: 3px;
    bottom: 100%;
    right: calc(100% - 60px + 3px);
  }

  75%{
    bottom: 100%;
    right: -3px;
    width: 60px;
    height: 3px;
  }

  76%{
    width: 3px;
    height: 60px;
    right: -3px;
    bottom: calc(100% - 60px + 3px);
  }

  90%{
    bottom: -3px;
    right: -3px;
    width: 3px;
    height: 60px;
  }

  91%{
    width: 60px;
    height: 3px;
    bottom: -3px;
    right: -3px;
  }

  100%{
    bottom: -3px;
    right: 10%;
  }
}
